[submodule "extras/stylus"]
	path = extras/stylus
	url = https://github.com/brandonhimpfen/html-template-stylus
[submodule "examples"]
	path = examples
	url = https://github.com/brandonhimpfen/html-angularjs-template-examples
